# Dependências
node_modules/

# Variáveis de Ambiente (CRUCIAL PARA O SUPABASE)
.env
.env.local
.env.*.local

# Logs e Cache
*.log
.cache/

# Pastas de Build (Render usa isso)
build/
dist/

# IDEs
.vscode/