/* Layout Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

/* Background */
.background-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
.cabeçalho {
    background-color: #7296be;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logotipo img {
    height: 38px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.termos {
    font-size: 0.9rem;
}

.termos:hover {
    color: rgb(238, 238, 238);
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 0.9rem;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-actions:hover {
    color: rgb(238, 238, 238);
    cursor: pointer;
    transition: all 0.4s ease;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.destacarUser{
    color: rgb(40, 61, 97);
}

/* Modo escuro */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .cabeçalho {
    background-color: #1f2a36;
    color: #ffffff;
}

.dark-mode .welcome-text {
    color: rgb(166, 197, 251);
}

.dark-mode .carteira,
.dark-mode .recarga {
    background-color: rgba(9, 9, 9, 0.518);
    border: 3px solid rgb(139, 172, 209);
}

.dark-mode .recarga-container:hover {
    transform: scale(1.02);
    background-color: #1f1f1f;
    color: rgb(162, 207, 255);
}

.dark-mode .historico,
.dark-mode .info {
    background-color: rgba(9, 9, 9, 0.518);
    border: 3px solid rgb(139, 172, 209);
}

.dark-mode .fonte-info a {
    cursor: pointer;
}

.dark-mode .fonte-info:hover a {
    color: rgb(72, 142, 216);
    transition: 0.3s rgb(72, 142, 216) ease;
}

.dark-mode .destacarQuantidade,
.dark-mode .destacarValor {
    color: rgb(72, 142, 216);
}

.dark-mode p {
    color: white;
}

.dark-mode .modal-box{
  background-color: rgba(0, 0, 0, 0.753);
  border: 3px solid rgb(139, 172, 209);
}

.dark-mode .modal-box h3{
    color: rgb(125, 166, 209);
}

.dark-mode .btn-sim{
    background-color: rgba(42, 93, 51, 0.518);
    border: 1.5px solid rgb(24, 82, 57);
}

.dark-mode .btn-sim:hover{
    background-color: rgba(73, 139, 85, 0.518);
    border: 1.5px solid rgb(24, 82, 57);
    transition: 0.3s rgba(73, 139, 85, 0.518) ease;
}

.dark-mode .btn-nao{
    background-color: rgba(94, 43, 34, 0.744);
    border: 1.5px solid rgb(58, 14, 14);
}

.dark-mode .btn-nao:hover{
   background-color: rgba(161, 73, 58, 0.744);
   border: 1.5px solid rgb(58, 14, 14); 
   transition: 0.3s rgba(161, 73, 58, 0.744) ease;
}

.dark-mode .rodapé {
    background-color: #121212;
    color: #e4e4e4;
}

.dark-mode .card-container {
    background-color: #11161d;
    border: 3px solid rgb(139, 172, 209);
    border-radius: 40px;
}

/* Dashboard */
.card-container {
    width: 100%;
    max-width: 900px;
    background: #dbdbdb;
    border: 3px solid #7296be;
    border-radius: 35px;
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: white;
    border: 3px solid #7296be;
    border-radius: 25px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.carteira-valor {
    font-size: 1.2rem;
    font-weight: bold;
}

.destacarQuantidade,
.destacarValor {
    color: rgb(68, 114, 189);
}

.recarga {
    font-size: 1.4rem;
    font-weight: bold;
    color: #5b7da1;
    text-decoration: none;
    justify-content: center;
    transition: transform .2s;
}

.recarga:hover {
    transform: scale(1.03);
}

.fonte-info {
    font-size: 0.75rem;
    display: flex;
    gap: 6px;
}

.fonte-info a {
    text-decoration: none;
    color: #566e89;
}

.btn-carteira,
.btn-historico {
    background: #5475a3;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-size: .85rem;
}

.btn-carteira:hover {
    cursor: pointer;
    transition: transform .2s;
    background-color: rgb(70, 134, 203);
    transform: scale(1.05);
}

.btn-historico:hover {
    cursor: pointer;
    transition: transform .2s;
    background-color: rgb(70, 134, 203);
    transform: scale(1.05);
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

.modal-box h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn-sim {
    background-color: #317134;
    border: 1.5px solid rgb(19, 57, 27);
    color: white;
}

.btn-sim:hover {
    background-color: #4fa454;
    border: 1.5px solid rgb(19, 57, 27);
    transition: 0.3s #4fa454 ease;
}

.btn-nao {
    background-color: #4d1e1e;
    border: 1.5px solid rgb(58, 14, 14);
    color: white;
}

.btn-nao:hover {
    background-color: #c77f7f;
    border: 1.5px solid rgb(58, 14, 14);
    transition: 0.3s #c77f7f ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* Rodapé */
.rodapé {
    padding: 20px;
    text-align: center;
    font-size: .8rem;
}

/* Media Queries */
@media (max-width: 1200px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 0px;
        min-height: auto;
    }

    .card-container {
        margin-bottom: 30px !important;
        padding: 30px;
    }

    .rodapé {
        margin-top: 0 !important;
        padding: 20px 0;
    }
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr; 
        width: 80%;
        gap: 15px;
    }
    
    .welcome-text {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .main-content {
        padding-top: 30px;
    }

    .card-container {
        padding: 30px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .background-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        padding-top: 40px;
        padding-bottom: 0;
    }

    .welcome-text {
        margin-bottom: 40px;
    }

    .card-container {
        grid-template-columns: 1fr;
        width: 90%;
        margin-bottom: 10px;
        padding: 35px;
    }

    .termos:hover {
        cursor: pointer;
        transition: 0.2s ease;
        color: rgb(228, 240, 255);
    }

    .recarga:hover {
        color: rgb(152, 202, 255);
    }

    .btn-carteira:hover {
        cursor: pointer;
        transition: transform .2s;
        background-color: rgb(70, 134, 203);
        transform: scale(1.05);
    }

    .btn-process:hover {
        cursor: pointer;
        transition: transform .2s;
        background-color: rgb(70, 134, 203);
        transform: scale(1.05);
    }

    .rodapé {
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .logotipo {
        height: 40px;
    }

    .header-actions {
        display: flex;
        align-items: center;
    }

    .termos {
        padding-left: 25px;
    }

    .header-actions .termos {
        margin-left: 40px;
    }

    .welcome-text {
        font-size: 1.6rem;
        text-align: center;
    }

    .card-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .header-actions {
        display: flex;
        align-items: center;
    }

    .termos:hover {
        cursor: pointer;
        transition: 0.2s ease;
        color: rgb(228, 240, 255);
    }

    .btn-carteira:hover {
        cursor: pointer;
        transition: transform .2s;
        background-color: rgb(70, 134, 203);
        transform: scale(1.05);
    }

    .btn-process:hover {
        cursor: pointer;
        transition: transform .2s;
        background-color: rgb(70, 134, 203);
        transform: scale(1.05);
    }

    .rodapé {
        margin-left: 10px;
    }
}